*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  padding: 40px 20px;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1em;
  font-weight: normal;
}

a,
a:visited,
a:active {
  color: #2f5cbd;
  transition: color 300ms;
}

a:hover {
  color: #062258;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 40px;
  line-height: 1.2em;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  h1 {
    animation: gradient-animation 30s linear infinite;
    background-image: linear-gradient(
      270deg,
      #e74c3c,
      #f1c40f,
      #2ecc71,
      #3498db
    );
    background-clip: text;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.week-eyebrow {
  color: #333;
  font-size: 13px;
}

.week {
  margin-bottom: 40px;
}

.week-title button {
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 1.5em;
  font-size: bold;
  padding: 5px 0;
  text-align: left;
  width: 100%;
  outline-offset: 10px;
  transition: border 250ms, color 250ms;
}

.week-title button:focus,
.week-title button:hover {
  color: #2f5cbd;
  cursor: pointer;
  border-bottom-color: #4f7cdd;
}

.week-title svg {
  transition: transform 250ms;
}

.week-title button[aria-expanded='true'] svg {
  transform: rotate(180deg);
}

@keyframes fade-in {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.submissions {
  margin-top: 20px;
}

.submissions--fade {
  animation: fade-in 250ms 1;
  animation-fill-mode: forwards;
}

.submission {
  margin-left: 30px;
  margin-bottom: 20px;
}

.author {
  font-weight: 500;
}

.star,
.winner {
  cursor: default;
}

.links {
  margin: 5px 0;
}

.separator {
  margin: 0 2px;
  color: #999;
}

.notes {
  color: #999;
}
